@import "tailwindcss";

/* ROOT */
:root {
  --background: #000000;
  --foreground: #ffffff;
}

/* BASE RESET */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* SAFE RESET ONLY */
* {
  box-sizing: border-box;
}

img, video {
  max-width: 100%;
  display: block;
}

/* LINKS */
a {
  color: inherit;
  text-decoration: none;
}

/* BUTTONS */
button {
  cursor: pointer;
}

/* TEXT SELECTION */
::selection {
  background: white;
  color: black;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}